body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*======================HEADER==================*/

.header-menu-item:hover,
.header-menu-item:active {
  color: var(--OCEAN, #404bbf);
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: var(--OCEAN, #404bbf);
}

.header-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo span {
  color: var(--IRIS, #4d5ae5);
}

.header-menu {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-menu-item {
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-item {
}

/*=================================================================*/

/*==============================hero===============================*/

.hero {
  background: var(--NAVY-BLUE, #2e2f42);
}

.hero-btn:hover {
  background: var(--OCEAN, #404bbf);
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-btn {
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

/*=================================================================*/

/*==============================features===============================*/

.features {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
}

.features-list-item {
}

.features-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*=====================================================================*/

/*===========================team=======================================*/

.team {
  background: var(--CLOUD, #f4f4fd);
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list {
}

.team-list-item {
  background: #fff;
}

.team-list-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-list-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*=================================================================================*/

/*==============================portfolio================================*/

.portfolio {
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*================================================================================*/

/*================================footer========================================*/

.footer-section {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo span {
  color: var(--IRIS, #4d5ae5);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
